<h1>Dropbox:</h1>


<% @db_photos.each do |url| %>
<div class="thumb">
  <%= link_to url, class: "fancybox" do %>
    <%= image_tag url %>
  <% end %>
</div>
<% end %>
<br clear='all'/>

<h1> Flickr: </h1>
<div class="thumbnail">
<%  @photos.photo.take(6).each do |photo| %>
  <div class="thumb">
    <% info = flickr.photos.getInfo photo_id: photo.id %>
     <%= link_to FlickRaw.url_b(info), class: 'fancybox' do %>
       <%= image_tag FlickRaw.url_b(info)%>
     <% end %>
  </div>
<% end %>
<br clear='all'/>

<h1>FB:</h1>
<% @fb_photos.each do |album| %>
  <% album["photos"]["data"].each do |photo| %>
    <div class="thumb" >
        <%= link_to photo["source"], class: 'fancybox ' do %>
          <%= image_tag photo["source"], class:"", alt: "from Facebook" %>
        <% end %>
    </div>
  <% end %>
<% end %>
