<h1>FB:</h1>
<% @fb_photos.take(5).each do |album| %>
  <% album["photos"]["data"].take(1).each do |photo| %>
    <div class="thumb" >
        <%= link_to photo["source"], class: 'fancybox ' do %>
          <%= image_tag photo["source"], class:"", alt: "from Facebook" %>
        <% end %>
    </div>
  <% end %>
<% end %>

<br clear='all'/>

<h1>Dropbox:</h1>
<% @db_photos.each do |hash| %>
<div class="thumb">
  <%= link_to hash[:url], class: "fancybox" do %>
    <img src='data:image/png;base64,<%=Base64.encode64 hash[:thumb]%>' />
  <% end %>
</div>
<% end %>
<br clear='all'/>

<h1> Flickr: </h1>
<div class="thumbnail">
<%  @photos.photo.take(1).each do |photo| %>
  <div class="thumb">
    <% info = flickr.photos.getInfo photo_id: photo.id %>

     <%= link_to FlickRaw.url_b(info), class: 'fancybox' do %>
       <%= image_tag FlickRaw.url_b(info)%>
     <% end %>

  </div>
<% end %>
