<header class="centered-navigation">
<div class="centered-navigation-wrapper">
  <a href="" class="centered-navigation-menu-button">MENU</a>
  <ul class="centered-navigation-menu">
    <li class="nav-link"><a href="javascript:void(0)">Contact</a></li>
    <li class="nav-link more"><a>Facebook</a>
      <ul class="submenu">
        <% if current_user.facebook? %>
          <li><a>Connected</a></li>
        <% else %>
          <li><a href="<%= user_omniauth_authorize_path(:facebook) %>">Connect</a></li>
        <% end %>
        </li>
      </ul>
    </li>
    <li class="nav-link more"><a>Flickr</a>
      <ul class="submenu">
        <% if current_user.flickr? %>
          <li><a>Connected</a></li>
        <% else %>
          <li><a href="<%= user_omniauth_authorize_path(:flickr) %>">Connect</a></li>
        <% end %>
      </ul>
    </li>
    <li class="nav-link more"><a>Dropbox</a>
      <ul class="submenu">
        <% if current_user.dropbox? %>
          <li><a>Connected</a></li>
        <% else %>
          <li><a href="<%= user_omniauth_authorize_path(:dropbox) %>">Connect</a></li>
        <% end %>
      </ul>
    </li>
    <li class="nav-link"><a>Signed in as <%= current_user.email %></a>
      <a href="<%= destroy_user_session_path %>" data-method="delete"> Not You?</a>
    </li>
  </ul>
</div>
</header>
