<!DOCTYPE html>
<html>
<head>
  <title>Photocloud</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>
  <% end %>
  <% if user_signed_in? %>
    <%= link_to "Not You?", destroy_user_session_path, :method => :delete %>
    <%= link_to "Connect to Flickr", user_omniauth_authorize_path(:flickr) unless current_user.flickr? %>
    <%= link_to "Connect to FB", user_omniauth_authorize_path(:facebook) unless current_user.facebook?  %>
    <%= link_to "Connect to Dropbox", user_omniauth_authorize_path(:dropbox) unless current_user.dropbox? %>

  <% end %>
  <% if notice %><p class="notice"><%= notice %></p><% end %>
  <% if notice %><font color="red" class="alert"><%= alert %></font><%end %>


<%= yield %>

</body>
</html>
